---
layout: page
title: Blog - Amr Elsekilly
permalink: /blog/
---
<div class="row" id="blogArea">
  {% for post in site.posts %}
  <div class="post-area">
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-title">{{ post.title }}</a>
    <p class="post-date">{{ post.date | date_to_string }}</p>
    <p class="post-content">
      {% assign wordCount = post.content | strip_html | number_of_words %}
      {{ post.content | strip_html | truncatewords: 30 }} <a class="read-more-link" href="{{ post.url | prepend: site.baseurl }}">{% if wordCount >= 30 %} <span>Continue Reading <i class="fa fa-arrow-right" aria-hidden="true"></i></span> {% endif %} </a>
    </p>
  </div>
  {% endfor %}
</div>
