    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                  <!-- overlay -->
                  <div class="overlay"></div>
                  <!-- text over header -->
                    <div class="col-md-8 col-md-offset-2">
                      <img src="img/coding.png" class="img-responsive center-block leading-icon" alt="coding icon" />
                        <h1>Jr. Front-end Web Developer</h1>
                        <p class="intro-text">
                          I Design & Develop Responsive Web Pages and Apps!
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
