<!-- Hire me Section -->
<section id="hire" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Let's Work Together</h2>
            <div class='fln-hireme' data-username='amrsekilly' data-style='plain_footer' data-type='badge' data-bg='' data-theme='' ></div>
        </div>
    </div>
</section>

<script type='text/javascript'>(function(d) {
    var po = d.createElement('script');
    po.type = 'text/javascript'; po.async = true; po.src = '//static.flnwdgt.com/build/js/hireme-sdk.js';
    var s = d.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
})(document);</script>
