 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  Amr Elsekilly
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}/work" class="fa fa-briefcase" aria-hidden="true"> Work</a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}/resources/pdfs/amr-elsekilly-resume.pdf" target="_blank" class="fa fa-file-text" aria-hidden="true"> Résumé</a>
                    </li>
                    <!-- <li>
                      <a href="{{ site.hireurl }}" class="fa fa-money" aria-hidden="true" target="_blank"> Hire</a>
                    </li> -->
                    <li>
                      <a href="{{ site.baseurl }}/blog" class="fa fa-pencil-square-o" aria-hidden="true"> Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
