    <!-- Download Section -->
    <section id="portfolio" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-12 new-grids" >
                    <h2>My Work</h2>
                    <div class="col-md-6 new-grid">
                          <a href="#" class="mask">
                    <img src="img/test1.jpg" class="img-responsive zoom-img" alt=""></a>
                    </div>
                    <div class="col-md-6 new-grid1">
                      <h5>09|04</h5>
                      <h4><a href="#">in the beginning</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 new-grid1">
                      <h5>09|04</h5>
                      <h4><a href="#">in the beginning</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.</p>
                    </div>
                    <div class="col-md-6 new-grid">
                          <a href="#" class="mask">
                    <img src="img/test1.jpg" class="img-responsive zoom-img" alt=""></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> <!-- /container -->
        </div>
    </section>
