---
layout: page
comments: true
---

<div class="post">
  <div class="row">
    <div>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-info"><span class="post-author">{{ page.author }}</span> <span class="post-date">On {{ page.date | date: "%B %-d, %Y" }}</span></p>
      <hr />
      <p>{{ content }}</p>
    </div>

    {% if page.comments %}
    <p>Comments:</p>
      <div id="disqus_thread"></div>
        <script>
        var disqus_developer = 1;
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//amrsekilly-1.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</div>
